#play {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.choice {
    font-size: 50px;
    border: none;
    background: none;
}

#result {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}